<div class="bg-white">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 sm:py-4 lg:max-w-7xl lg:px-8">
    <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
      <% @properties.each do |property| %>
        <div class="group relative cursor-pointer">
          <!-- Slider main container -->
          <div class="swiper aspect-square w-full rounded-md bg-gray-200 object-cover">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              <% property.images.each do |image| %>
                <div class="swiper-slide">
                  <%= image_tag image, class: "aspect-square w-full rounded-md bg-gray-200 object-cover" %>
                </div>
              <% end %>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>


          <div class="mt-2 space-y-0.5">
            <p class="text-sm text-gray-800 font-medium"><%= property.name %></p>
            <p class="text-xs text-gray-500">5월 29일~31일</p>
            <div class="flex text-xs text-gray-500 items-center gap-1">
              <div><%= property.price.format %></div>
              <div>·</div>
              <div>2박</div>
              <div>·</div>
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" style="display: block; height: 8px; width: 8px; fill: currentcolor;"><path fill-rule="evenodd" d="m15.1 1.58-4.13 8.88-9.86 1.27a1 1 0 0 0-.54 1.74l7.3 6.57-1.97 9.85a1 1 0 0 0 1.48 1.06l8.62-5 8.63 5a1 1 0 0 0 1.48-1.06l-1.97-9.85 7.3-6.57a1 1 0 0 0-.55-1.73l-9.86-1.28-4.12-8.88a1 1 0 0 0-1.82 0z"></path></svg>
              </div>
              <div><%= property.average_final_rating.round(1) %></div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>



